.footer{
  background-color: rgb(240, 89, 175);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  padding: 25px;

}
.socialMedia{
  font-size: 75px;
  cursor: pointer;
}
.icons{
  margin: 20px;
  color: white;
}
@media only screen and (max-width: 400px) {
  .socialMedia {
      font-size: 65px;
  }
  .haklar{
      font-size: 10px;
  }

}