.homePage {
  background-image: url("../assets/homePageBG.jpg");
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btnMenu {
  background-color: rgb(240, 89, 175);
  border: none;
  border-radius: 30px;
  color: white;
  padding: 20px;
  font-size: 25px;
  margin: 50px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .homePage {
    background-repeat: repeat;
    background-size: 58vh;
    background-position: top;
  }
  .btnMenu {
    margin: 10px;
  }
}
